.workspace-item {
  position: relative;
  overflow: hidden;
}

.workspace-item:active {
  background-color: var(--color-100) !important;
  transform: scale(0.985);
}

.btn-link:hover {
  background-color: var(--color-100);
}

.btn-link:active {
  background-color: var(--color-100);
  transform: scale(0.95);
}
